*{
    padding: 0;
    margin: 0;
}

html, body {
    background-color: #ffffff;
}

.exit-btn {
    background: transparent;
    border: none;
    margin-top: 7px;
    transition: all .2s ease-in-out;
}

.exit-btn:hover {
    transform: scale(1.1);
    color: #f1404b;
}